# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/raster/*.nc
data/raster/*.tif
data/raster/cube/
data/raster/resposta/

# OS files
.DS_Store

# Experiments and Cache
experiments_quick/cache/
experiments_fast/
outputs/
logs/
*.parquet
*.pt
*.pkl
*.model
*.json.gz
